@font-face {
   font-family: 'PMingI.UVar-8.00';
   font-display: swap;
   src: url('//solmat.tw/fonts/PMingI.UVar-8.00/font.ttf');
}
@font-face {
   font-family: 'I.Ming-8.00';
   font-display: swap;
   src: url('//solmat.tw/fonts/I.Ming-8.00/font.ttf');
}
@font-face {
   font-family: 'jf-openhuninn-2.0';
   font-display: swap;
   src: url('//solmat.tw/fonts/jf-openhuninn-2.0/font.ttf');
}
